# Generated with KiLEX ansible playbook https://bitbucket.org/kilex/configs/src/master/ansible/

[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock
user		= root
password	= {{ mysql_user_pass }}

