# Generated with KiLEX ansible playbook https://bitbucket.org/kilex/configs/src/master/ansible/
server {
    listen       {{ item.ip | default(ansible_default_ipv4.address) }}:80;
	server_name  .{{ item.site }};

      location / {
                proxy_buffering   on;
                proxy_pass        http://localhost:80;
                proxy_set_header  Host $host;
                proxy_set_header  X-Forwarded-For $remote_addr;
                proxy_set_header  X-Real-IP $remote_addr;
        }
        location ~* ^.+\.(jpg|jpeg|gif|png|ico|css|zip|tgz|gz|rar|bz2|doc|xls|exe|pdf|ppt|txt|tar|wav|bmp|rtf|js|mp3)$ {
                root {{ item.folder | default(sites_home+'/'+item.site | default('/var/www/'+item.site)) }};
                 expires 12h;
                 add_header Cache-Control public;
        }

}
