# Generated with KiLEX ansible playbook https://bitbucket.org/kilex/configs/src/master/ansible/
<VirtualHost *:80>
    ServerAdmin webmaster@localhost

    DocumentRoot {{ item.folder | default(sites_home+'/'+item.site | default('/var/www/'+item.site)) }}
    <Directory />
        Options FollowSymLinks
        AllowOverride None
    </Directory>
    <Directory {{ item.folder | default(sites_home+'/'+item.site | default('/var/www/'+item.site)) }}>
        Options -Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ item.site }}.error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog ${APACHE_LOG_DIR}/{{ item.site }}.access.log combined
</VirtualHost>
